<section class="divFormulario">
    <h1>Alterar veículo</h1>
    <form [formGroup]="updateForm">
        <p>Placa:</p>
        <input formControlName="placa" type="text" class="form-control" autofocus>
        <small class="text-danger d-block mt-2" *ngIf="updateForm.get('placa').errors?.required">Placa é um campo obrigatório.</small>
        <p>Chassi:</p>
        <input formControlName="chassi" type="text" class="form-control">
        <small class="text-danger d-block mt-2" *ngIf="updateForm.get('chassi').errors?.required">Chassi é um campo obrigatório.</small>
        <p>Renavam:</p>
        <input formControlName="renavam" type="text" class="form-control">
        <small class="text-danger d-block mt-2" *ngIf="updateForm.get('renavam').errors?.renavam">Renavam é um campo obrigatório e deve conter 11 dígitos.</small>
        <p>Modelo:</p>
        <input formControlName="modelo" type="text" class="form-control">
        <small class="text-danger d-block mt-2" *ngIf="updateForm.get('modelo').errors?.required">Modelo é um campo obrigatório.</small>
        <p>Marca:</p>
        <input formControlName="marca" type="text" class="form-control">
        <small class="text-danger d-block mt-2" *ngIf="updateForm.get('marca').errors?.required">Marca é um campo obrigatório.</small>
        <p>Ano:</p>
        <input formControlName="ano" type="text" class="form-control">
        <small class="text-danger d-block mt-2" *ngIf="updateForm.get('ano').errors?.ano">Ano deve ser preenchido por 4 dígitos.</small>

        <input [disabled]="updateForm.invalid || updateForm.pending" type="button" value="Alterar" class="form-control btn-primary mt-4 mb-2" (click)="alterarVeiculo()">
    </form>

</section>

